body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100vw;
    height: 10vh;
    background: white;
    display: flex;
    justify-content: center;
}

nav {
    width: 90vw;
    margin: 0 1em;
    display: flex;
    align-items: center;
    background: white;
}

#logo {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-items {
    margin: 0 0.5rem;
    font-size: 10px;
}

.nav-links {
    text-decoration: none;
    color: black;
}